In [20]:
import requests
import defs
import pandas as pd

In [21]:
session = requests.Session()

In [22]:
url = f"{defs.OANDA_URL}/accounts/{defs.ACCOUNT_ID}/instruments"
url

'https://api-fxpractice.oanda.com/v3/accounts/101-001-28943203-001/instruments'

In [23]:
response = session.get(url, params=None, headers=defs.SECURE_HEADER)

In [24]:
response.status_code

200

In [25]:
data = response.json()

In [26]:
data.keys()

dict_keys(['instruments', 'lastTransactionID'])

In [27]:
instruments = data['instruments']

In [28]:
len(instruments)

68

In [29]:
instruments[0].keys()

dict_keys(['name', 'type', 'displayName', 'pipLocation', 'displayPrecision', 'tradeUnitsPrecision', 'minimumTradeSize', 'maximumTrailingStopDistance', 'minimumTrailingStopDistance', 'maximumPositionSize', 'maximumOrderUnits', 'marginRate', 'guaranteedStopLossOrderMode', 'tags', 'financing'])

In [30]:
instrument_data = []
for item in instruments:
    new_object = dict(
        name = item['name'],
        type = item['type'],
        displayName = item['displayName'],
        pipLocation = item['pipLocation'],
        marginRate = item['marginRate']
    )   
    instrument_data.append(new_object)

In [31]:
for item in instrument_data[:3]:
    print(item)

{'name': 'HKD_JPY', 'type': 'CURRENCY', 'displayName': 'HKD/JPY', 'pipLocation': -4, 'marginRate': '0.1'}
{'name': 'USD_SGD', 'type': 'CURRENCY', 'displayName': 'USD/SGD', 'pipLocation': -4, 'marginRate': '0.05'}
{'name': 'EUR_SEK', 'type': 'CURRENCY', 'displayName': 'EUR/SEK', 'pipLocation': -4, 'marginRate': '0.03'}

In [32]:
instrument_df = pd.DataFrame.from_dict(instrument_data)

In [33]:
instrument_df

       name      type displayName  pipLocation marginRate
0   HKD_JPY  CURRENCY     HKD/JPY           -4        0.1
1   USD_SGD  CURRENCY     USD/SGD           -4       0.05
2   EUR_SEK  CURRENCY     EUR/SEK           -4       0.03
3   GBP_PLN  CURRENCY     GBP/PLN           -4       0.05
4   EUR_PLN  CURRENCY     EUR/PLN           -4       0.05
..      ...       ...         ...          ...        ...
63  GBP_USD  CURRENCY     GBP/USD           -4       0.05
64  CAD_CHF  CURRENCY     CAD/CHF           -4       0.04
65  AUD_NZD  CURRENCY     AUD/NZD           -4       0.03
66  CAD_SGD  CURRENCY     CAD/SGD           -4       0.05
67  NZD_HKD  CURRENCY     NZD/HKD           -4        0.1

[68 rows x 5 columns]

In [34]:
instrument_df.to_pickle("instruments.pk1")

In [35]:
new_table = pd.read_pickle('instruments.pk1')
new_table

       name      type displayName  pipLocation marginRate
0   HKD_JPY  CURRENCY     HKD/JPY           -4        0.1
1   USD_SGD  CURRENCY     USD/SGD           -4       0.05
2   EUR_SEK  CURRENCY     EUR/SEK           -4       0.03
3   GBP_PLN  CURRENCY     GBP/PLN           -4       0.05
4   EUR_PLN  CURRENCY     EUR/PLN           -4       0.05
..      ...       ...         ...          ...        ...
63  GBP_USD  CURRENCY     GBP/USD           -4       0.05
64  CAD_CHF  CURRENCY     CAD/CHF           -4       0.04
65  AUD_NZD  CURRENCY     AUD/NZD           -4       0.03
66  CAD_SGD  CURRENCY     CAD/SGD           -4       0.05
67  NZD_HKD  CURRENCY     NZD/HKD           -4        0.1

[68 rows x 5 columns]