In [8]:
import requests
import pandas as pd
import defs

In [9]:
session = requests.Session()

In [10]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [11]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [12]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [13]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [14]:
response.status_code
response.json()

{'instrument': 'EUR_USD',
 'granularity': 'H1',
 'candles': [{'complete': True,
   'volume': 8683,
   'time': '2024-04-25T13:00:00.000000000Z',
   'bid': {'o': '1.06916', 'h': '1.07031', 'l': '1.06776', 'c': '1.06999'},
   'mid': {'o': '1.06924', 'h': '1.07038', 'l': '1.06784', 'c': '1.07007'},
   'ask': {'o': '1.06931', 'h': '1.07045', 'l': '1.06791', 'c': '1.07015'}},
  {'complete': True,
   'volume': 7137,
   'time': '2024-04-25T14:00:00.000000000Z',
   'bid': {'o': '1.07001', 'h': '1.07201', 'l': '1.06919', 'c': '1.07109'},
   'mid': {'o': '1.07008', 'h': '1.07208', 'l': '1.06926', 'c': '1.07116'},
   'ask': {'o': '1.07015', 'h': '1.07216', 'l': '1.06934', 'c': '1.07124'}},
  {'complete': True,
   'volume': 3991,
   'time': '2024-04-25T15:00:00.000000000Z',
   'bid': {'o': '1.07109', 'h': '1.07209', 'l': '1.07071', 'c': '1.07197'},
   'mid': {'o': '1.07117', 'h': '1.07217', 'l': '1.07078', 'c': '1.07204'},
   'ask': {'o': '1.07125', 'h': '1.07225', 'l': '1.07085', 'c': '1.07211'}},
  {'complete': True,
   'volume': 3148,
   'time': '2024-04-25T16:00:00.000000000Z',
   'bid': {'o': '1.07194', 'h': '1.07345', 'l': '1.07145', 'c': '1.07304'},
   'mid': {'o': '1.07201', 'h': '1.07352', 'l': '1.07152', 'c': '1.07312'},
   'ask': {'o': '1.07208', 'h': '1.07360', 'l': '1.07159', 'c': '1.07319'}},
  {'complete': True,
   'volume': 3577,
   'time': '2024-04-25T17:00:00.000000000Z',
   'bid': {'o': '1.07305', 'h': '1.07381', 'l': '1.07287', 'c': '1.07295'},
   'mid': {'o': '1.07312', 'h': '1.07388', 'l': '1.07294', 'c': '1.07302'},
   'ask': {'o': '1.07319', 'h': '1.07395', 'l': '1.07301', 'c': '1.07309'}},
  {'complete': True,
   'volume': 2908,
   'time': '2024-04-25T18:00:00.000000000Z',
   'bid': {'o': '1.07294', 'h': '1.07294', 'l': '1.07223', 'c': '1.07265'},
   'mid': {'o': '1.07301', 'h': '1.07301', 'l': '1.07230', 'c': '1.07272'},
   'ask': {'o': '1.07308', 'h': '1.07308', 'l': '1.07238', 'c': '1.07280'}},
  {'complete': True,
   'volume': 1978,
   'time': '2024-04-25T19:00:00.000000000Z',
   'bid': {'o': '1.07267', 'h': '1.07341', 'l': '1.07263', 'c': '1.07288'},
   'mid': {'o': '1.07274', 'h': '1.07348', 'l': '1.07270', 'c': '1.07296'},
   'ask': {'o': '1.07281', 'h': '1.07355', 'l': '1.07278', 'c': '1.07303'}},
  {'complete': True,
   'volume': 1015,
   'time': '2024-04-25T20:00:00.000000000Z',
   'bid': {'o': '1.07285', 'h': '1.07302', 'l': '1.07279', 'c': '1.07292'},
   'mid': {'o': '1.07292', 'h': '1.07310', 'l': '1.07287', 'c': '1.07300'},
   'ask': {'o': '1.07299', 'h': '1.07318', 'l': '1.07295', 'c': '1.07309'}},
  {'complete': True,
   'volume': 161,
   'time': '2024-04-25T21:00:00.000000000Z',
   'bid': {'o': '1.07281', 'h': '1.07288', 'l': '1.07278', 'c': '1.07282'},
   'mid': {'o': '1.07294', 'h': '1.07298', 'l': '1.07289', 'c': '1.07292'},
   'ask': {'o': '1.07308', 'h': '1.07309', 'l': '1.07298', 'c': '1.07303'}},
  {'complete': False,
   'volume': 166,
   'time': '2024-04-25T22:00:00.000000000Z',
   'bid': {'o': '1.07285', 'h': '1.07299', 'l': '1.07279', 'c': '1.07287'},
   'mid': {'o': '1.07294', 'h': '1.07308', 'l': '1.07287', 'c': '1.07294'},
   'ask': {'o': '1.07303', 'h': '1.07317', 'l': '1.07295', 'c': '1.07301'}}]}

In [15]:
data = response.json()

In [16]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [17]:
len(data['candles'])

10

In [19]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [20]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [24]:
data['candles'][0]['bid']['o']

'1.06916'

In [28]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue

    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    
    our_data.append(new_dict)

print(our_data[0])

{'time': '2024-04-25T13:00:00.000000000Z', 'volume': 8683, 'mid_o': '1.06924', 'mid_h': '1.07038', 'mid_l': '1.06784', 'mid_c': '1.07007', 'bid_o': '1.06916', 'bid_h': '1.07031', 'bid_l': '1.06776', 'bid_c': '1.06999', 'ask_o': '1.06931', 'ask_h': '1.07045', 'ask_l': '1.06791', 'ask_c': '1.07015'}

In [29]:
candles_df = pd.DataFrame.from_dict(our_data)
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2024-04-25T13:00:00.000000000Z,8683,1.06924,1.07038,1.06784,1.07007,1.06916,1.07031,1.06776,1.06999,1.06931,1.07045,1.06791,1.07015
1,2024-04-25T14:00:00.000000000Z,7137,1.07008,1.07208,1.06926,1.07116,1.07001,1.07201,1.06919,1.07109,1.07015,1.07216,1.06934,1.07124
2,2024-04-25T15:00:00.000000000Z,3991,1.07117,1.07217,1.07078,1.07204,1.07109,1.07209,1.07071,1.07197,1.07125,1.07225,1.07085,1.07211
3,2024-04-25T16:00:00.000000000Z,3148,1.07201,1.07352,1.07152,1.07312,1.07194,1.07345,1.07145,1.07304,1.07208,1.07360,1.07159,1.07319
4,2024-04-25T17:00:00.000000000Z,3577,1.07312,1.07388,1.07294,1.07302,1.07305,1.07381,1.07287,1.07295,1.07319,1.07395,1.07301,1.07309
5,2024-04-25T18:00:00.000000000Z,2908,1.07301,1.07301,1.07230,1.07272,1.07294,1.07294,1.07223,1.07265,1.07308,1.07308,1.07238,1.07280
6,2024-04-25T19:00:00.000000000Z,1978,1.07274,1.07348,1.07270,1.07296,1.07267,1.07341,1.07263,1.07288,1.07281,1.07355,1.07278,1.07303
7,2024-04-25T20:00:00.000000000Z,1015,1.07292,1.07310,1.07287,1.07300,1.07285,1.07302,1.07279,1.07292,1.07299,1.07318,1.07295,1.07309
8,2024-04-25T21:00:00.000000000Z,161,1.07294,1.07298,1.07289,1.07292,1.07281,1.07288,1.07278,1.07282,1.07308,1.07309,1.07298,1.07303

In [30]:
candles_df.to_pickle("EUR_USD_H1.pkl")

In [31]:
test_df = pd.read_pickle("EUR_USD_H1.pkl")

In [32]:
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2024-04-25T13:00:00.000000000Z,8683,1.06924,1.07038,1.06784,1.07007,1.06916,1.07031,1.06776,1.06999,1.06931,1.07045,1.06791,1.07015
1,2024-04-25T14:00:00.000000000Z,7137,1.07008,1.07208,1.06926,1.07116,1.07001,1.07201,1.06919,1.07109,1.07015,1.07216,1.06934,1.07124
2,2024-04-25T15:00:00.000000000Z,3991,1.07117,1.07217,1.07078,1.07204,1.07109,1.07209,1.07071,1.07197,1.07125,1.07225,1.07085,1.07211
3,2024-04-25T16:00:00.000000000Z,3148,1.07201,1.07352,1.07152,1.07312,1.07194,1.07345,1.07145,1.07304,1.07208,1.07360,1.07159,1.07319
4,2024-04-25T17:00:00.000000000Z,3577,1.07312,1.07388,1.07294,1.07302,1.07305,1.07381,1.07287,1.07295,1.07319,1.07395,1.07301,1.07309
5,2024-04-25T18:00:00.000000000Z,2908,1.07301,1.07301,1.07230,1.07272,1.07294,1.07294,1.07223,1.07265,1.07308,1.07308,1.07238,1.07280
6,2024-04-25T19:00:00.000000000Z,1978,1.07274,1.07348,1.07270,1.07296,1.07267,1.07341,1.07263,1.07288,1.07281,1.07355,1.07278,1.07303
7,2024-04-25T20:00:00.000000000Z,1015,1.07292,1.07310,1.07287,1.07300,1.07285,1.07302,1.07279,1.07292,1.07299,1.07318,1.07295,1.07309
8,2024-04-25T21:00:00.000000000Z,161,1.07294,1.07298,1.07289,1.07292,1.07281,1.07288,1.07278,1.07282,1.07308,1.07309,1.07298,1.07303