In [27]:
import requests
import pandas as pd
import defs

In [28]:
session = requests.Session()

In [29]:
instrument = "EUR_USD"
count = 10
granularity = "H1"

In [30]:
url = f"{defs.OANDA_URL}/instruments/{instrument}/candles"
url

'https://api-fxpractice.oanda.com/v3/instruments/EUR_USD/candles'

In [31]:
params = dict(
    count = count,
    granularity = granularity,
    price = "MBA"
)
params

{'count': 10, 'granularity': 'H1', 'price': 'MBA'}

In [32]:
response = session.get(url, params=params, headers=defs.SECURE_HEADER)

In [33]:
response.status_code

200

In [34]:
response.json()

{'instrument': 'EUR_USD',
 'granularity': 'H1',
 'candles': [{'complete': True,
   'volume': 4204,
   'time': '2024-07-29T15:00:00.000000000Z',
   'bid': {'o': '1.08148', 'h': '1.08232', 'l': '1.08147', 'c': '1.08181'},
   'mid': {'o': '1.08156', 'h': '1.08239', 'l': '1.08154', 'c': '1.08189'},
   'ask': {'o': '1.08163', 'h': '1.08246', 'l': '1.08162', 'c': '1.08197'}},
  {'complete': True,
   'volume': 3435,
   'time': '2024-07-29T16:00:00.000000000Z',
   'bid': {'o': '1.08184', 'h': '1.08230', 'l': '1.08142', 'c': '1.08207'},
   'mid': {'o': '1.08192', 'h': '1.08238', 'l': '1.08150', 'c': '1.08215'},
   'ask': {'o': '1.08199', 'h': '1.08246', 'l': '1.08158', 'c': '1.08223'}},
  {'complete': True,
   'volume': 3187,
   'time': '2024-07-29T17:00:00.000000000Z',
   'bid': {'o': '1.08209', 'h': '1.08253', 'l': '1.08188', 'c': '1.08242'},
   'mid': {'o': '1.08216', 'h': '1.08260', 'l': '1.08196', 'c': '1.08250'},
   'ask': {'o': '1.08224', 'h': '1.08268', 'l': '1.08203', 'c': '1.08258'}},
  {'complete': True,
   'volume': 3019,
   'time': '2024-07-29T18:00:00.000000000Z',
   'bid': {'o': '1.08240', 'h': '1.08243', 'l': '1.08186', 'c': '1.08209'},
   'mid': {'o': '1.08248', 'h': '1.08250', 'l': '1.08194', 'c': '1.08216'},
   'ask': {'o': '1.08256', 'h': '1.08258', 'l': '1.08202', 'c': '1.08224'}},
  {'complete': True,
   'volume': 3087,
   'time': '2024-07-29T19:00:00.000000000Z',
   'bid': {'o': '1.08210', 'h': '1.08249', 'l': '1.08210', 'c': '1.08229'},
   'mid': {'o': '1.08218', 'h': '1.08257', 'l': '1.08218', 'c': '1.08237'},
   'ask': {'o': '1.08226', 'h': '1.08265', 'l': '1.08225', 'c': '1.08245'}},
  {'complete': True,
   'volume': 1738,
   'time': '2024-07-29T20:00:00.000000000Z',
   'bid': {'o': '1.08230', 'h': '1.08231', 'l': '1.08190', 'c': '1.08205'},
   'mid': {'o': '1.08237', 'h': '1.08238', 'l': '1.08198', 'c': '1.08212'},
   'ask': {'o': '1.08244', 'h': '1.08246', 'l': '1.08206', 'c': '1.08219'}},
  {'complete': True,
   'volume': 346,
   'time': '2024-07-29T21:00:00.000000000Z',
   'bid': {'o': '1.08191', 'h': '1.08228', 'l': '1.08191', 'c': '1.08220'},
   'mid': {'o': '1.08227', 'h': '1.08242', 'l': '1.08220', 'c': '1.08230'},
   'ask': {'o': '1.08263', 'h': '1.08263', 'l': '1.08230', 'c': '1.08241'}},
  {'complete': True,
   'volume': 664,
   'time': '2024-07-29T22:00:00.000000000Z',
   'bid': {'o': '1.08227', 'h': '1.08229', 'l': '1.08211', 'c': '1.08215'},
   'mid': {'o': '1.08238', 'h': '1.08238', 'l': '1.08220', 'c': '1.08223'},
   'ask': {'o': '1.08248', 'h': '1.08250', 'l': '1.08228', 'c': '1.08231'}},
  {'complete': True,
   'volume': 1198,
   'time': '2024-07-29T23:00:00.000000000Z',
   'bid': {'o': '1.08214', 'h': '1.08216', 'l': '1.08175', 'c': '1.08184'},
   'mid': {'o': '1.08222', 'h': '1.08223', 'l': '1.08184', 'c': '1.08192'},
   'ask': {'o': '1.08229', 'h': '1.08230', 'l': '1.08191', 'c': '1.08199'}},
  {'complete': False,
   'volume': 466,
   'time': '2024-07-30T00:00:00.000000000Z',
   'bid': {'o': '1.08185', 'h': '1.08185', 'l': '1.08163', 'c': '1.08178'},
   'mid': {'o': '1.08192', 'h': '1.08193', 'l': '1.08171', 'c': '1.08186'},
   'ask': {'o': '1.08199', 'h': '1.08201', 'l': '1.08178', 'c': '1.08194'}}]}

In [35]:
data = response.json()

In [36]:
data.keys()

dict_keys(['instrument', 'granularity', 'candles'])

In [37]:
len(data['candles'])

10

In [38]:
for candle in data ['candles']:
    print(candle)

{'complete': True, 'volume': 4204, 'time': '2024-07-29T15:00:00.000000000Z', 'bid': {'o': '1.08148', 'h': '1.08232', 'l': '1.08147', 'c': '1.08181'}, 'mid': {'o': '1.08156', 'h': '1.08239', 'l': '1.08154', 'c': '1.08189'}, 'ask': {'o': '1.08163', 'h': '1.08246', 'l': '1.08162', 'c': '1.08197'}}
{'complete': True, 'volume': 3435, 'time': '2024-07-29T16:00:00.000000000Z', 'bid': {'o': '1.08184', 'h': '1.08230', 'l': '1.08142', 'c': '1.08207'}, 'mid': {'o': '1.08192', 'h': '1.08238', 'l': '1.08150', 'c': '1.08215'}, 'ask': {'o': '1.08199', 'h': '1.08246', 'l': '1.08158', 'c': '1.08223'}}
{'complete': True, 'volume': 3187, 'time': '2024-07-29T17:00:00.000000000Z', 'bid': {'o': '1.08209', 'h': '1.08253', 'l': '1.08188', 'c': '1.08242'}, 'mid': {'o': '1.08216', 'h': '1.08260', 'l': '1.08196', 'c': '1.08250'}, 'ask': {'o': '1.08224', 'h': '1.08268', 'l': '1.08203', 'c': '1.08258'}}
{'complete': True, 'volume': 3019, 'time': '2024-07-29T18:00:00.000000000Z', 'bid': {'o': '1.08240', 'h': '1.08243', 'l': '1.08186', 'c': '1.08209'}, 'mid': {'o': '1.08248', 'h': '1.08250', 'l': '1.08194', 'c': '1.08216'}, 'ask': {'o': '1.08256', 'h': '1.08258', 'l': '1.08202', 'c': '1.08224'}}
{'complete': True, 'volume': 3087, 'time': '2024-07-29T19:00:00.000000000Z', 'bid': {'o': '1.08210', 'h': '1.08249', 'l': '1.08210', 'c': '1.08229'}, 'mid': {'o': '1.08218', 'h': '1.08257', 'l': '1.08218', 'c': '1.08237'}, 'ask': {'o': '1.08226', 'h': '1.08265', 'l': '1.08225', 'c': '1.08245'}}
{'complete': True, 'volume': 1738, 'time': '2024-07-29T20:00:00.000000000Z', 'bid': {'o': '1.08230', 'h': '1.08231', 'l': '1.08190', 'c': '1.08205'}, 'mid': {'o': '1.08237', 'h': '1.08238', 'l': '1.08198', 'c': '1.08212'}, 'ask': {'o': '1.08244', 'h': '1.08246', 'l': '1.08206', 'c': '1.08219'}}
{'complete': True, 'volume': 346, 'time': '2024-07-29T21:00:00.000000000Z', 'bid': {'o': '1.08191', 'h': '1.08228', 'l': '1.08191', 'c': '1.08220'}, 'mid': {'o': '1.08227', 'h': '1.08242', 'l': '1.08220', 'c': '1.08230'}, 'ask': {'o': '1.08263', 'h': '1.08263', 'l': '1.08230', 'c': '1.08241'}}
{'complete': True, 'volume': 664, 'time': '2024-07-29T22:00:00.000000000Z', 'bid': {'o': '1.08227', 'h': '1.08229', 'l': '1.08211', 'c': '1.08215'}, 'mid': {'o': '1.08238', 'h': '1.08238', 'l': '1.08220', 'c': '1.08223'}, 'ask': {'o': '1.08248', 'h': '1.08250', 'l': '1.08228', 'c': '1.08231'}}
{'complete': True, 'volume': 1198, 'time': '2024-07-29T23:00:00.000000000Z', 'bid': {'o': '1.08214', 'h': '1.08216', 'l': '1.08175', 'c': '1.08184'}, 'mid': {'o': '1.08222', 'h': '1.08223', 'l': '1.08184', 'c': '1.08192'}, 'ask': {'o': '1.08229', 'h': '1.08230', 'l': '1.08191', 'c': '1.08199'}}
{'complete': False, 'volume': 466, 'time': '2024-07-30T00:00:00.000000000Z', 'bid': {'o': '1.08185', 'h': '1.08185', 'l': '1.08163', 'c': '1.08178'}, 'mid': {'o': '1.08192', 'h': '1.08193', 'l': '1.08171', 'c': '1.08186'}, 'ask': {'o': '1.08199', 'h': '1.08201', 'l': '1.08178', 'c': '1.08194'}}

In [39]:
prices = ['mid', 'bid', 'ask']
ohlc = ['o', 'h', 'l', 'c']

In [40]:
for price in prices:
    for oh in ohlc:
        print(f"{price}_{oh}")

mid_o
mid_h
mid_l
mid_c
bid_o
bid_h
bid_l
bid_c
ask_o
ask_h
ask_l
ask_c

In [41]:
data['candles'][0]['bid']['o']

'1.08148'

In [42]:
our_data = []
for candle in data['candles']:
    if candle['complete'] == False:
        continue

    new_dict = {}
    new_dict['time'] = candle['time']
    new_dict['volume'] = candle['volume']
    for price in prices:
        for oh in ohlc:
            new_dict[f"{price}_{oh}"] = candle[price][oh]
    
    our_data.append(new_dict)

print(our_data[0])

{'time': '2024-07-29T15:00:00.000000000Z', 'volume': 4204, 'mid_o': '1.08156', 'mid_h': '1.08239', 'mid_l': '1.08154', 'mid_c': '1.08189', 'bid_o': '1.08148', 'bid_h': '1.08232', 'bid_l': '1.08147', 'bid_c': '1.08181', 'ask_o': '1.08163', 'ask_h': '1.08246', 'ask_l': '1.08162', 'ask_c': '1.08197'}

In [43]:
candles_df = pd.DataFrame.from_dict(our_data)
candles_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2024-07-29T15:00:00.000000000Z,4204,1.08156,1.08239,1.08154,1.08189,1.08148,1.08232,1.08147,1.08181,1.08163,1.08246,1.08162,1.08197
1,2024-07-29T16:00:00.000000000Z,3435,1.08192,1.08238,1.08150,1.08215,1.08184,1.08230,1.08142,1.08207,1.08199,1.08246,1.08158,1.08223
2,2024-07-29T17:00:00.000000000Z,3187,1.08216,1.08260,1.08196,1.08250,1.08209,1.08253,1.08188,1.08242,1.08224,1.08268,1.08203,1.08258
3,2024-07-29T18:00:00.000000000Z,3019,1.08248,1.08250,1.08194,1.08216,1.08240,1.08243,1.08186,1.08209,1.08256,1.08258,1.08202,1.08224
4,2024-07-29T19:00:00.000000000Z,3087,1.08218,1.08257,1.08218,1.08237,1.08210,1.08249,1.08210,1.08229,1.08226,1.08265,1.08225,1.08245
5,2024-07-29T20:00:00.000000000Z,1738,1.08237,1.08238,1.08198,1.08212,1.08230,1.08231,1.08190,1.08205,1.08244,1.08246,1.08206,1.08219
6,2024-07-29T21:00:00.000000000Z,346,1.08227,1.08242,1.08220,1.08230,1.08191,1.08228,1.08191,1.08220,1.08263,1.08263,1.08230,1.08241
7,2024-07-29T22:00:00.000000000Z,664,1.08238,1.08238,1.08220,1.08223,1.08227,1.08229,1.08211,1.08215,1.08248,1.08250,1.08228,1.08231
8,2024-07-29T23:00:00.000000000Z,1198,1.08222,1.08223,1.08184,1.08192,1.08214,1.08216,1.08175,1.08184,1.08229,1.08230,1.08191,1.08199

In [44]:
candles_df.to_pickle("EUR_USD_H1.pkl")

In [45]:
test_df = pd.read_pickle("EUR_USD_H1.pkl")

In [46]:
test_df

,time,volume,mid_o,mid_h,mid_l,mid_c,bid_o,bid_h,bid_l,bid_c,ask_o,ask_h,ask_l,ask_c
0,2024-07-29T15:00:00.000000000Z,4204,1.08156,1.08239,1.08154,1.08189,1.08148,1.08232,1.08147,1.08181,1.08163,1.08246,1.08162,1.08197
1,2024-07-29T16:00:00.000000000Z,3435,1.08192,1.08238,1.08150,1.08215,1.08184,1.08230,1.08142,1.08207,1.08199,1.08246,1.08158,1.08223
2,2024-07-29T17:00:00.000000000Z,3187,1.08216,1.08260,1.08196,1.08250,1.08209,1.08253,1.08188,1.08242,1.08224,1.08268,1.08203,1.08258
3,2024-07-29T18:00:00.000000000Z,3019,1.08248,1.08250,1.08194,1.08216,1.08240,1.08243,1.08186,1.08209,1.08256,1.08258,1.08202,1.08224
4,2024-07-29T19:00:00.000000000Z,3087,1.08218,1.08257,1.08218,1.08237,1.08210,1.08249,1.08210,1.08229,1.08226,1.08265,1.08225,1.08245
5,2024-07-29T20:00:00.000000000Z,1738,1.08237,1.08238,1.08198,1.08212,1.08230,1.08231,1.08190,1.08205,1.08244,1.08246,1.08206,1.08219
6,2024-07-29T21:00:00.000000000Z,346,1.08227,1.08242,1.08220,1.08230,1.08191,1.08228,1.08191,1.08220,1.08263,1.08263,1.08230,1.08241
7,2024-07-29T22:00:00.000000000Z,664,1.08238,1.08238,1.08220,1.08223,1.08227,1.08229,1.08211,1.08215,1.08248,1.08250,1.08228,1.08231
8,2024-07-29T23:00:00.000000000Z,1198,1.08222,1.08223,1.08184,1.08192,1.08214,1.08216,1.08175,1.08184,1.08229,1.08230,1.08191,1.08199